.label
{
    -fx-text-fill: yellow;
    -fx-font-style: bold;
}
.anchor {
    -fx-background-image:url('./assets/chaosium-background-the-library.png');
}

.gridPane
{
    -fx-background-color: rgba(119,136,153,.7);
}

.title
{
    -fx-text-fill: yellow;
}

